<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>회원가입</title>
  <link th:href="@{/css/signup.css}" rel="stylesheet" /> <!-- CSS 파일 링크 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body th:style="|background-image: url('@{/sources/picture/우주배경.png}');
                 background-size: cover;
                 background-repeat: no-repeat;
                 background-position: center;
                 background-attachment: fixed;|">
<div class="signup-container">
  <h1>회원가입</h1>

  <div class="required-field-notice">
    <span>*</span> 표시는 필수 입력 항목입니다.
  </div>

  <form th:action="@{/member/signup_pro}" th:object="${memberBean}" method="post" onsubmit="return validateSignup();">
    <div class="form-group">
      <label for="member_id" class="required-field">아이디</label>
      <div class="input-row">
        <input type="text" id="member_id" th:field="*{member_id}" class="input-field" oninput="resetMemberId()" placeholder="5~40자리" />
        <button type="button" class="check-button" onclick="checkMemberId()">중복확인</button>
      </div>
      <input type="hidden" id="idExist" name="idExist" value="false" />
      <span id="member_id_error" class="error-message"></span>
      <span th:if="${#fields.hasErrors('member_id')}" th:errors="*{member_id}" class="error-message"></span>
    </div>

    <div class="form-group">
      <label for="member_pw" class="required-field">비밀번호</label>
      <input type="password" id="member_pw" th:field="*{member_pw}" class="input-field" placeholder="8~16자리" />
      <span th:if="${#fields.hasErrors('member_pw')}" th:errors="*{member_pw}" class="error-message"></span>
    </div>

    <div class="form-group">
      <label for="member_pw2" class="required-field">비밀번호 확인</label>
      <input type="password" id="member_pw2" th:field="*{member_pw2}" class="input-field" placeholder="비밀번호 확인" />
      <span th:if="${#fields.hasErrors('member_pw2')}" th:errors="*{member_pw2}" class="error-message"></span>
    </div>

    <div class="form-group">
      <label for="member_name" class="required-field">이름</label>
      <input type="text" id="member_name" th:field="*{member_name}" class="input-field" placeholder="2~10자리" />
      <span th:if="${#fields.hasErrors('member_name')}" th:errors="*{member_name}" class="error-message"></span>
    </div>
    <div class="form-group">
      <label th:for="member_gender" class="required-field">성별</label>
      <div class="gender-options">
        <div class="radio-group">
          <input type="radio" id="gender_male" name="member_gender" value="남성" th:field="*{member_gender}" />
          <label for="gender_male" class="radio-label">남성</label>
        </div>
        <div class="radio-group">
          <input type="radio" id="gender_female" name="member_gender" value="여성" th:field="*{member_gender}" />
          <label for="gender_female" class="radio-label">여성</label>
        </div>
      </div>
      <span th:if="${#fields.hasErrors('member_gender')}" th:errors="*{member_gender}" class="error-message"></span>
    </div>

    <div class="form-group">
      <label for="member_birthdate" class="required-field">생년월일</label>
      <input type="date" id="member_birthdate" name="member_birthdate" class="input-field" th:field="*{member_birthdate}" />
      <span th:if="${#fields.hasErrors('member_birthdate')}" th:errors="*{member_birthdate}" class="error-message"></span>
    </div>

    <div class="form-group">
      <label for="member_nickname" class="required-field">닉네임</label>
      <div class="input-row">
        <input type="text" id="member_nickname" th:field="*{member_nickname}" class="input-field" oninput="resetMemberNickname()" placeholder="최대 8자리" />
        <button type="button" class="check-button" onclick="checkMemberNickname()">중복확인</button>
      </div>
      <input type="hidden" id="nickExist" name="nickExist" value="false" />
      <span id="member_nickname_error" class="error-message"></span>
      <span th:if="${#fields.hasErrors('member_nickname')}" th:errors="*{member_nickname}" class="error-message"></span>
    </div>

    <div class="form-group">
      <label for="member_phone" class="required-field">휴대폰</label>
      <input type="text" id="member_phone" th:field="*{member_phone}" class="input-field" placeholder="- 없이 입력" />
      <span th:if="${#fields.hasErrors('member_phone')}" th:errors="*{member_phone}" class="error-message"></span>
    </div>

<!--    <div class="form-group">-->
<!--      <label for="member_phone" class="required-field">휴대폰</label>-->
<!--      <div class="input-row">-->
<!--        <input type="text" id="member_phone" th:field="*{member_phone}" class="input-field" placeholder="- 없이 입력" />-->
<!--        <input type="hidden" id="isPhoneVerified" name="isPhoneVerified" value="false" />-->
<!--        <button type="button" class="check-button" id="sendAuthCode">인증요청</button>-->
<!--      </div>-->
<!--      <span th:if="${#fields.hasErrors('member_phone')}" th:errors="*{member_phone}" class="error-message"></span>-->
<!--      <span id="phoneAuthMessage" class="error-message"></span>-->
<!--    </div>-->

    <!-- 인증번호 입력창 (처음에는 숨김) -->
    <div class="form-group" id="authCodeContainer" style="display: none;">
      <label>인증번호 입력</label>
      <div class="input-row">
        <input type="text" id="authCode" class="input-field" placeholder="인증번호 입력">
        <button type="button" class="check-button" id="verifyAuthCode">확인</button>
      </div>
      <span id="authResult"></span>
    </div>

    <div class="form-group">
      <label for="member_address" class="required-field">주소</label>
      <div class="address-container">
        <div class="address-row">
          <input type="text" id="member_postcode" class="input-field" placeholder="우편번호" readonly />
          <button type="button" class="check-button" onclick="searchAddress()">주소검색</button>
        </div>
        <input type="text" id="member_address" th:field="*{member_address}" class="input-field" placeholder="기본주소" readonly="readonly" />
        <input type="text" id="member_address_detail" class="input-field" name="member_address_detail" placeholder="상세주소 입력" />
      </div>
      <span th:if="${#fields.hasErrors('member_address')}" th:errors="*{member_address}" class="error-message"></span>
    </div>

    <div class="form-group">
      <label for="member_email" class="required-field">이메일</label>
      <input type="email" id="member_email" th:field="*{member_email}" class="input-field" placeholder="email@ujoodong.com" />
      <span th:if="${#fields.hasErrors('member_email')}" th:errors="*{member_email}" class="error-message"></span>
    </div>

    <div class="form-group">
      <label>약관</label>
      <div class="consent-section">
        <div class="checkbox-item">
          <input type="checkbox" id="all_consent" name="all_consent">
          <label for="all_consent" class="checkbox-label">전체 동의</label>
        </div>

        <div class="hr-line"></div>
        <p class="consent-description">전자상거래 이용에 필요한 필수적인 개인정보와 선택정보에 대한 수집 및 이용에 동의합니다.</p>

        <div class="checkbox-item">
          <input type="checkbox" id="terms" name="terms">
          <label for="terms" class="checkbox-label">(필수) 개인정보 이용약관 동의</label>
        </div>

        <div class="checkbox-item">
          <input type="checkbox" id="personal_info" name="personal_info">
          <label for="personal_info" class="checkbox-label">(필수) 개인정보 수집 및 이용에 동의</label>
        </div>

        <div class="checkbox-item">
          <input type="checkbox" id="location_info" name="location_info">
          <label for="location_info" class="checkbox-label">(선택) 위치기반서비스 이용약관에 동의</label>
        </div>

        <div class="checkbox-item">
          <input type="checkbox" id="marketing_email" name="marketing_email">
          <label for="marketing_email" class="checkbox-label">(선택) 마케팅 정보 수신 동의</label>
        </div>

        <div class="checkbox-item">
          <input type="checkbox" id="marketing_sms" name="marketing_sms">
          <label for="marketing_sms" class="checkbox-label">(선택) 마케팅 정보 수신동의 : SMS/MMS 동의</label>
        </div>
      </div>
    </div>
    <button type="submit" class="submit-button">회원가입 완료</button>
  </form>
</div>

<script th:inline="javascript">
  /*<![CDATA[*/
  function checkMemberId() {
    let member_id = $("#member_id").val().trim();
    console.log(member_id);

    // 아이디 길이 검증
    if (member_id.length < 5 || member_id.length > 40) {
      $("#member_id_error")
              .removeClass("success-message")
              .addClass("error-message")
              .text("아이디는 5~40자 사이로 입력해야 합니다.")
              .show();
      return;
    }

    $.ajax({
      url: /*[[@{/member/checkId}]]*/ '/member/checkId',
      type: "get",
      data: {member_id : member_id},
      dataType: "text",
      success: function(result) {
        if (result === "true") {
          $("#member_id_error")
                  .removeClass("error-message")
                  .addClass("success-message")
                  .text("사용 가능한 아이디입니다.")
                  .show();
          $("#idExist").val("true");
        } else {
          $("#member_id_error")
                  .removeClass("success-message")
                  .addClass("error-message")
                  .text("사용할 수 없는 아이디입니다.")
                  .show();
          $("#idExist").val("false");
        }
      },
      error: function() {
        $("#member_id_error")
                .removeClass("success-message")
                .addClass("error-message")
                .text("중복확인 요청 중 오류가 발생했습니다.")
                .show();
      }
    });
  }

  function resetMemberId() {
    $("#idExist").val("false");
    $("#member_id_error").text("").hide();
  }

  // 닉네임 중복확인 함수
  function checkMemberNickname() {
    let member_nickname = $("#member_nickname").val().trim();

    if (member_nickname.length == 0) {
      $("#member_nickname_error").removeClass("success-message")
              .addClass("error-message").text("닉네임을 입력해주세요.").show();
      return;
    }

    $.ajax({
      url: /*[[@{/member/checkNickname}]]*/ '/member/checkNickname',
      type: "get",
      data: {member_nickname : member_nickname},
      dataType: "text",
      success: function(result) {
        if (result === "true") {
          $("#member_nickname_error")
                  .removeClass("error-message").addClass("success-message")
                  .text("사용 가능한 닉네임입니다.").show();
          $("#nickExist").val("true");
        } else {
          $("#member_nickname_error")
                  .removeClass("success-message").addClass("error-message")
                  .text("사용할 수 없는 닉네임입니다.").show();
          $("#nickExist").val("false");
        }
      },
      error: function() {
        $("#member_nickname_error")
                .removeClass("success-message")
                .addClass("error-message")
                .text("중복확인 요청 중 오류가 발생했습니다.").show();
      }
    });
  }

  function resetMemberNickname() {
    $("#nickExist").val("false");
    $("#member_nickname_error").text("").hide();
  }

  function validateSignup() {
    // 필수 동의 항목 확인
    let allRequiredChecked = true;

    $(".consent-section input[type='checkbox']").each(function() {
      // "(필수)"가 포함된 label이 있는 체크박스 중에서 체크되지 않은 것이 있으면 false
      if ($(this).next("label").text().includes("(필수)") && !$(this).prop("checked")) {
        allRequiredChecked = false;
      }
    });

    // 필수 항목이 하나라도 체크되지 않으면 경고 후 회원가입 진행 차단
    if (!allRequiredChecked) {
      alert("필수 약관에 동의해야 회원가입이 가능합니다.");
      return false;
    }

    if ($("#idExist").val() !== "true") {
      alert("아이디 중복확인을 해주세요.");
      return false;
    }
    if ($("#nickExist").val() !== "true") {
      alert("닉네임 중복확인을 해주세요.");
      return false;
    }

    // if ($("#isPhoneVerified").val() !== "true") {
    //   alert("휴대폰 인증을 완료해야 합니다.");
    //   return false;
    // }

    // 주소 입력 검증
    if ($("#member_postcode").val() === "" || $("#member_address").val() === "") {
      alert("주소 검색을 통해 주소를 입력해주세요.");
      return false;
    }

    return true; // 모든 조건이 충족되면 회원가입 진행
  }

  // 주소 검색 함수
  function searchAddress() {
    new daum.Postcode({
      oncomplete: function(data) {
        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분
        var roadAddr = data.roadAddress; // 도로명 주소
        var jibunAddr = data.jibunAddress; // 지번 주소

        // 우편번호와 주소 정보를 해당 필드에 넣는다.
        document.getElementById('member_postcode').value = data.zonecode;
        document.getElementById('member_address').value = roadAddr || jibunAddr;

        // 상세주소 필드로 포커스 이동
        document.getElementById("member_address_detail").focus();
      }
    }).open();
  }

  $(document).ready(function() {
    $("#all_consent").change(function() {
      let isChecked = $(this).prop("checked");
      $(".consent-section input[type='checkbox']").prop("checked", isChecked);
    });

    $(".consent-section input[type='checkbox']").not("#all_consent").change(function() {
      let allChecked = $(".consent-section input[type='checkbox']").not("#all_consent").length ===
              $(".consent-section input[type='checkbox']:checked").not("#all_consent").length;
      $("#all_consent").prop("checked", allChecked);
    });
  });

  $(document).ready(function() {
    // 인증 요청 버튼 클릭 시 실행
    $("#sendAuthCode").click(function() {
      console.log("인증 요청 버튼이 클릭되었습니다!"); // 추가
      let phoneNumber = "+82" + $("#member_phone").val().trim();

      if (phoneNumber.length === 0) {
        alert("휴대폰 번호를 입력하세요.");
        return;
      }

      $.post("/auth/sendCode", { phoneNumber: phoneNumber }, function(response) {
        console.log("서버 응답:", response); // 추가
        alert(response);
        $("#authCodeContainer").show();
      }).fail(function() {
        console.log("서버 요청 실패"); // 추가
        alert("인증번호 요청 중 오류가 발생했습니다.");
      });
    });

    // 인증번호 확인 버튼 클릭 시 실행
    $("#verifyAuthCode").click(function() {
      let phoneNumber = "+82"+$("#member_phone").val().trim();
      let authCode = $("#authCode").val().trim();

      if (authCode.length === 0) {
        alert("인증번호를 입력하세요.");
        return;
      }

      // 서버에 인증번호 검증 요청
      $.post("/auth/verifyCode", { phoneNumber: phoneNumber, authCode: authCode }, function(response) {
        if (response) {
          $("#authResult").text("✔ 인증 성공").css({"color": "green", "font-size": "10px"});
          $("#member_phone").prop("readonly", true).css({"color": "gray"});
          $("#isPhoneVerified").val("true"); // ✅ 인증 완료 처리
        } else {
          $("#authResult").text("❌ 인증 실패").css({"color": "red", "font-size": "10px"});
          $("#isPhoneVerified").val("false"); // 인증 실패 시 다시 false 설정
        }
      }).fail(function() {
        alert("인증번호 확인 중 오류가 발생했습니다.");
      });
    });
  });
  /*]]>*/
</script>
</body>
</html>