<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>우주동</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-spacedong.png" />
    <link rel="stylesheet" th:href="@{/css/signup_choice.css}">
</head>
<body th:style="|background-image: url('@{/sources/picture/우주배경.png}');
                 background-size: cover;
                 background-repeat: no-repeat;
                 background-position: center;
                 background-attachment: fixed;|">

<a th:href="@{/}" class="logo-container">
    <img th:src="@{/sources/picture/우주동로고.png}" alt="우주동 로고" class="logo-img">
    <div class="logo-hover-text">
        <div><span class="first-letter">우</span>리</div>
        <div><span class="first-letter">주</span>변의</div>
        <div><span class="first-letter">동</span>호회</div>
    </div>
</a>

<div class="signup-container">
    <div class="signup-header">
        <h1>회원가입</h1>
        <p>회원 유형을 선택하여 회원가입을 진행해주세요.</p>
    </div>

    <div class="signup-options">
        <div class="signup-option" th:onclick="|location.href='@{/member/signup}'|">
            <div class="signup-icon">👤</div>
            <h2>일반 회원</h2>
            <p>다양한 우주동 시설을 이용하고 커뮤니티에 참여할 수 있습니다.</p>
            <button type="button" class="signup-btn">일반 회원가입</button>
        </div>

        <div class="signup-option" th:onclick="|location.href='@{/business/signup}'|">
            <div class="signup-icon">🏢</div>
            <h2>기업 회원</h2>
            <p>귀사의 시설을 우주동 플랫폼에 등록하고 관리할 수 있습니다.</p>
            <button type="button" class="signup-btn">기업 회원가입</button>
        </div>
    </div>

    <div class="return-login">
        <a th:href="@{/member/login}">이미 계정이 있으신가요? 로그인하기</a>
    </div>
</div>
</body>
</html>