<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>우주동</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-spacedong.png" />
    <link rel="stylesheet" th:href="@{/css/tiebreaker.css}">
<!--    <link rel="stylesheet" th:href="@{/css/bottom.css}">-->
<!--    <link rel="stylesheet" th:href="@{/css/top.css}">-->
<!--    <script th:src="@{/js/top.js}"></script>-->
</head>
<body th:style="|background-image: url('@{/sources/picture/우주배경.png}');
                 background-size: cover;
                 background-repeat: no-repeat;
                 background-position: center;
                 background-attachment: fixed;|">

<!-- 로고만 추가 -->
<a th:href="@{/}" class="logo-container" style="position: fixed; top: 20px; left: 60px; z-index: 1000; display: flex; align-items: center; height: 60px;">
    <img th:src="@{/sources/picture/우주동로고.png}" alt="우주동 로고" class="logo-img">
    <div class="logo-hover-text">
        <div><span class="first-letter">우</span>리</div>
        <div><span class="first-letter">주</span>변의</div>
        <div><span class="first-letter">동</span>호회</div>
    </div>
</a>


<!--<div th:replace="~{include/top_search :: top_search}"></div>-->

<div class="container type-select-box">
    <h2 th:text="'우티가 파악한 당신의 성향은 ' + ${tieCount} + '개에요!!!'">우티가 파악한 당신의 성향</h2>
    <p>아래에서 당신의 성향에 가장 맞는 유형을 선택해주세요.</p>

    <form th:action="@{/survey/tiebreakerproc}" method="post">
        <button th:each="type : ${tieTypes}" type="submit" name="selectedType"
                th:value="${type}" class="btn" th:text="${type}"></button>
    </form>
</div>

<!--<div th:replace="~{include/bottom_info :: bottom_info}"></div>-->
</body>
</html>
